
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Toastr
@import '~toastr/toastr';

// Datetimepicker
@import '~jquery-datetimepicker/jquery.datetimepicker';

// Select2
@import '~select2/src/scss/core';

// Select2 Theme bootstrap4
@import '~select2-theme-bootstrap4/src/build';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form-control.is-invalid ~ .select2 .select2-selection{
    border-color: $red;
}

.form-control.is-invalid ~ .select2 .select2-selection:focus{
    -webkit-box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.dropdown-submenu:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:-160px;
}
.fc-daygrid-event-harness {
  cursor: pointer;
}
